BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: true
ColumnLimit: 0
PointerAlignment: Left
NamespaceIndentation: All

AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortEnumsOnASingleLine: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AlignAfterOpenBracket: DontAlign
AccessModifierOffset: -4
Cpp11BracedListStyle: false
FixNamespaceComments: false
IndentCaseLabels: false
IndentPPDirectives: None
MaxEmptyLinesToKeep: 10
SortIncludes: false
SortUsingDeclarations: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
CompactNamespaces: true
EmptyLineBeforeAccessModifier: Never
KeepEmptyLinesAtTheStartOfBlocks: false

---
Language: Cpp
BasedOnStyle: LLVM

ColumnLimit: 130
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

PointerAlignment: Left
ReferenceAlignment: Left

BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

AlignAfterOpenBracket: Align
BinPackParameters: false
BinPackArguments: false

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0

BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: Never
AccessModifierOffset: -4
NamespaceIndentation: None
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInContainerLiterals: false
AllowShortEnumsOnASingleLine: false
SortIncludes: false
